<div class="login-form">    
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
    <h4 class="modal-title">Login to Your Account</h4>
    <div class="form-group">
      <mat-form-field>
        <input type="text" matInput placeholder="Email" name="f-email" formControlName="email">
      </mat-form-field>
      <mat-error *ngIf="form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)">
        Please enter your email!
     </mat-error>
      <!-- <span *ngIf="form.controls.email.invalid">Please enter your email!</span> -->
    </div>
    
    <div class="form-group">
      <mat-form-field>
        <input [type]="hidepassword ? 'text' : 'password'" matInput placeholder="Password" formControlName="password">
        <mat-icon matSuffix (click)="hidepassword = !hidepassword">{{hidepassword ? 'visibility' : 
            'visibility_off'}}</mat-icon>
      </mat-form-field>
        <mat-error *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)">Please enter your Password!</mat-error >
    </div>

   
      <div *ngIf="error" class="text-danger">
        <p>{{ error }}</p>
      </div>
  

      <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login" />              
  </form>			
  <div class="text-center small">Don't have an account? <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Sign up</a></div>
</div>


